/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/


.cart-text,
span.cart-text,
.header-classic__item .cart-text,
.wishlist-text,
.header-classic__item .wishlist-text {
  display: none !important;
}

span.pattern[style*="background-color: clay"] {
  background-color: #9e4624 !important;
  background-image: none !important;
}

@media (max-width: 749px) {
  .image_logo {
    text-align: center;
  }
  .image_logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
